<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.abdofficehour.appointmentsystem.mapper.UserInfoMapper">
    <resultMap id="UserInfoResult" type="io.github.abdofficehour.appointmentsystem.pojo.data.UserInfo">
        <id column="id" property="id"/>
        <result column="email" property="email"/>
        <result column="username" property="username"/>
        <result column="phone" property="phone"/>
    </resultMap>

    <select id="findAll" resultMap="UserInfoResult">
        SELECT * FROM userinfo
    </select>

    <select id="selectById" resultMap="UserInfoResult">
        SELECT * FROM userinfo
        WHERE id = #{id}
    </select>

    <select id="searchRole" resultType="string">
        SELECT r.role_name FROM userinfo
        LEFT JOIN appointment_system.userrole ON userrole.user_id = userinfo.id
        LEFT JOIN appointment_system.role r on userrole.role_id = r.id
        WHERE userinfo.id = #{id}
        
    </select>
    <select id="searchAuth" resultType="string">
        SELECT c.credit_name FROM userinfo
        LEFT JOIN appointment_system.userrole ON userrole.user_id = userinfo.id
        LEFT JOIN appointment_system.role r on userrole.role_id = r.id
        LEFT JOIN appointment_system.rolecredit r2 on r.id = r2.role_id
        LEFT JOIN appointment_system.credit c on r2.credit_id = c.id
        WHERE userinfo.id = #{id}

    </select>

    <select id="selectAllByIdList" resultMap="UserInfoResult">
        SELECT * FROM userinfo
        LEFT JOIN appointment_system.userrole ON userrole.user_id = userinfo.id
        LEFT JOIN appointment_system.role r ON userrole.role_id = r.id
        <where>
            (userinfo.id LIKE #{searchData}
            OR
            userinfo.username LIKE #{searchData})
            AND
            r.id = 2
        </where>

    </select>

    <select id="selectAllClassification" resultType="io.github.abdofficehour.appointmentsystem.pojo.schema.teacherClassification.TeacherClassificationSchema">
        SELECT t.name as classification,userinfo.id as teacherId, userinfo.username as teacherName FROM userinfo
        LEFT JOIN appointment_system.userclassification ON userinfo.id = userclassification.user_id
        LEFT JOIN appointment_system.teacherclassification t on t.id = userclassification.classification
        LEFT JOIN appointment_system.userrole u on userinfo.id = u.user_id
        WHERE
            u.role_id = 1
    </select>
</mapper>
